html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0b0c10;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  background-color: #45a29e;
  color: #1f2833;
  border: 2px solid #66fcf1;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover,
.btn:active {
  background-color: #66fcf1;
}

.input {
  background-color: transparent;
  border: 2px solid #66fcf1;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
  margin: 0.5rem;
  color: #c5c6c7;
}

*::selection {
  background-color: #66fcf1;
  color: #1f2833;
}

a {
  text-decoration: underline;
}

textarea {
  width: 100%;
  background-color: #0b0c10;
  border: 2px solid #c5c6c7;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  resize: vertical;
  color: #c5c6c7;
  outline: none;
  font-size: 1.25rem;
  height: 60vh;
  padding: 0.75rem;
  transition: all 0.2s ease;
  margin: 1rem;
}

textarea:focus,
textarea:active,
textarea:hover {
  border: 2px solid #66fcf1;
}
